<header class="header">
  <h1><%= @current_category.title %></h1>
</header>

<main>
  <div class="container">
    <% @images.each do |image| %>
      <div class="category-wrapper hovered">
        <%= image_tag image.attachment.thumb.url, class: "image", alt: image.attachment.identifier %>
        <a href="<%= category_image_path(@current_category.id, image.id) %>" class="category-show">Show</a>
      </div>
    <% end %>
  </div>
</main>

<%= link_to 'Back', categories_path %> |
<%= link_to 'New Image', new_category_image_path %>
