<header class="header">
  <h1><%= @current_category.title %></h1>
</header>

<main>
  <div class="container">
    <% if @images.blank? %>
      <h1>No images added before</h1>
    <% else %>
      <% @images.each do |image| %>
        <div class="category-wrapper hovered">
          <%= image_tag image.attachment.thumb.url, class: "image", alt: image.attachment.identifier %>
          <a href="<%= category_image_path(@current_category.id, image.id) %>" class="category-show">Show</a>
        </div>
      <% end %>
    <% end %>
  </div>
</main>

<div class="navbar">
  <a href="<%= categories_path %>" class="btn">Back</a>
  <a href="<%= new_category_image_path %>" class="btn">New Image</a>
</div>
