<%= form_with(model: @image, url: category_images_path(main_image_id: @main_image_id), local: true) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% @image.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="wrapper">
    <div class="header">
      <h3 class="text">New Image for <%= @current_category.title %></h3>
      <a href="<%= category_images_path %>" class="btn pull_right">Back</a>
    </div>

    <div class="main_form">
      <%= f.file_field :attachment, required: "required" %>
      <%= f.hidden_field :attachment_cache %>

      <% main_image = params[:main_image_id] || @main_image_id %>
      <%= f.hidden_field :main_image_id, value: main_image if main_image %>
      <%= f.hidden_field :category_id, value: @current_category.id %>
    </div>

    <div>
      <input type="submit" value="Upload file" />
    </div>
  </div>
<% end %>
